<h2>Prop drilling with reference vs mutation</h2>

<p>
  All messages from senders are emitted to Root, then passed down to target Node
  - prop drilling.
</p>

<p>
  Observe how you can't directly update Node-2 message. It is going to be
  updated only if other message is passing to Node-2-1 or Node-2-2. This is
  happening as one of @input reference changes in Node-2 due to prop drilling.
</p>

<p>Reload example couple of times and try different scenarios.</p>

<ol class="badge-list">
  <li>Emits message and mutates data object of Node-2</li>
  <li>Emits message and changes data reference of Node-2-1</li>
  <li>Emits message and changes data reference of Node-2-2</li>
</ol>

<mm-card-container [config]="config"></mm-card-container>
